*{
	margin:0 auto;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:"나눔고딕";
}

a{
	color:black;
	text-decoration:none;
}

a:visited{ 
	color:black; 
	text-decoration:none;
}

.head_1{
	width:100%;
	height:100%;
	background:black;
}

.head{
	max-width:1600px; 
	width:1600px;
	height:100px;
	margin:0 auto;
}

.logo{
	width:250px;
	height:70px;
	overflow:hidden;
	float:left;
	margin-left:100px;
	margin-top:30px;
}

.nav{
	float:left;
	height:70px;
	margin-top:30px;
}

.nav>ul{
	display:inline;
}

.nav>ul>li{
	display:inline-block;
	position:relative;
	width:155px;
	text-align:center;
}

.nav>ul>li>a{
	display:block;
	line-height:50px;
	font-size:15px;
	color:white;
	font-family:'arial';
	transition:all 1s;
}

.nav>ul>li:hover>a{
	text-decoration:underline;
	transition:all 1s;
	opacity:50%;
}

.menu_box{
	position:absolute;
	margin-left:-350px;
	width:1600px;
	height:300px;
	background:white;
	padding:10px 0;
	display:none;
	z-index:1;
}

.menu_box>li{
	width:100px;
	height:150px;
	display:inline;
}

.menu_box>li>a{
	display:inline-block;
	transition:all 1s;
}

.menu_box>li>a>img{
	width:200px;
	height:200px;
	padding:20px;
}

.menu_box>li:hover>a{
	opacity:70%;
	font-size:18px;
	transition:all 1s;
}

.menu_box>li>a>h4{
	color:black;
}

.icon>a>img{
	margin-top:30px;
	margin-left:50px;
}

#container-bg{
	background:url("../img/world_bg.png") center 0 no-repeat; 
	margin-top:-40px; 
	background-color:black; 
	height:900px;
}

#container{
	max-width:1500px; 
	margin:0 auto;
}

#container .ct-h ul{
	padding-top:20px;
}

#container .ct-h ul:after{
	content:""; 
	display:block; 
	clear:both;
}

#container .ct-h ul > li:nth-child(1) a{
	font-size:16px; 
	border-bottom:1px solid white; 
	margin-left:30px;
}

#container .ct-h ul > li:nth-child(1):after{
	content:">"; 
	display:inline-block; 
	padding-left:15px;
}

#container .ct-h ul > li{
	float:left; 
	margin-right:15px; 
	font-size:15px;
}

#container .ct-b{
	overflow:hidden; 
	margin:40px 0;
}

#container .ct-b-l{
	float:left; 
	max-width:500px;
}

#container .ct-b-r{
	float:right; 
	max-width:680px; 
	font-size:22px; 
	padding-top:90px;
}

#container .ct-b-r h2{
	font-size:50px; 
	letter-spacing:2px; 
	padding-top:30px;
	padding-bottom:10px; 
	color:#fff;
}

#container .ct-b-r p{
	margin-bottom:35px; 
	color:#ababab;
}

#container .ct-b-r p.ct-b-r-1{
	color:#fff !important;
}

#container .ct-b-r p.ct-b-r-1:after{
	content:""; 
	display:block; 
	width:100px; 
	height:1px; 
	background-color:#fff; 
	margin-left:10px; 
	margin-top:40px;
}

#ct-scroll{
	background-color:black; 
	top:0; 
	width:100%;
}

#ct-scroll h2{
	width:128px; 
	height:42px;
	padding:30px 0; 
	margin:20px auto; 
	margin-top:0;
}

#ct-scroll .scroll{
	max-width:1200px;
	padding:10px; 
	margin:0 auto; 
	position:relative;
}

#ct-scroll p{
	width:16px; 
	height:20px; 
	margin-bottom:5px; 
	margin-left:9px;
}

#ct-scroll ul:after{
	content:""; 
	display:block; 
	clear:both;
}

#ct-scroll ul li{
	float:left; 
	width:20%; 
	color:#aaa;
}

#ct-scroll ul li:hover{
	color:white;
}

#ct-scroll ul li:after{
	content: ""; 
	display:inline-block; 
	width:180px; 
	height:3px; 
	background:white; 
	vertical-align:middle; 
	margin-left:10px;
}

#ct-scroll ul li span{
	cursor:pointer;
}

#seiko-h .year{
	text-align:center; 
	line-height:250px; 
	font-size:40px;
}

#seiko-h .y-1881{
	background:url("../img/bg_y.png") center 0 no-repeat; 
	background-size:cover; 
	color:white;
}

#seiko-h .ht-l, #seiko-h .ht-r{
	overflow:hidden; 
	color:black;
}

.ht-l img{
	float:left; 
	width:39%; 
	height:350px;
}

.ht-r img{
	float:right; 
	width:39%; 
	height:350px;
}

.ht-yb{
	width:20%; 
	float:left; 
	font-size:55px; 
	text-align:center; 
	line-height:350px;
}

.ht-r .ht-yb{
	background-color:#eee;
}

.ht-tw{
	float:right; 
	width:37%;
	height:350px; 
	padding:20px;
}

.ht-r .ht-tw{
	float:left;
}

.ht-tb h3{
	font-size:25px;
	padding:55px 0; 
	font-weight:bold;
}

.ht-tb p{
	font-size:17px;
}

.copyright{
	width:100%
	height:100%;
	margin:0 auto;
	background:#EAEAEA;
	margin-top:100px;
}

.footer_menu{
	width:1000px;
	height:300px;
	padding-top:80px;
}

.footer_menu>ul{
	display:inline;
	float:left;
}

.footer_menu>ul>li{
	display:inline-block;
	width:165px;
	font-size:15px;
	margin-left:30px;
	line-height:50px;
	vertical-align:top;
}

.footer_menu>ul>li>a>h5{
	margin-bottom:30px;
	font-size:18px;
	vertical-align:top;
}

.menu_box3>li{
	display:inline-block;
	padding:5px;
}

.down_menu{
	margin-top:20px;
	width:1000px;
}

.down_menu>ul{
	display:inline;
	margin-left:20px;
}

.down_menu>ul>li{
	display:inline-block;
	padding:25px;
	font-size:12px;
	color:#5D5D5D;
}

.copy{
	margin-top:50px;
	width:1000px;
	font-size:12px;
	text-align:center;
	color:#5D5D5D;
}

.copy>p{
	padding-bottom:30px;
}