*{
	margin:0 auto;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family:"나눔고딕";
}

a{
	color:black;
	text-decoration:none;
}

a:visited{ 
	color:black; 
	text-decoration:none;
}

.head_1{
	width:100%;
	height:100%;
	background:black;
}

.head{
	max-width:1600px; 
	width:1600px;
	height:100px;
	margin:0 auto;
}

.logo{
	width:250px;
	height:70px;
	overflow:hidden;
	float:left;
	margin-left:100px;
	margin-top:30px;
}

.nav{
	float:left;
	height:70px;
	margin-top:30px;
}

.nav>ul{
	display:inline;
}

.nav>ul>li{
	display:inline-block;
	position:relative;
	width:155px;
	text-align:center;
}

.nav>ul>li>a{
	display:block;
	line-height:50px;
	font-size:15px;
	color:white;
	font-family:'arial';
	transition:all 1s;
}

.nav>ul>li:hover>a{
	text-decoration:underline;
	transition:all 1s;
	opacity:50%;
}

.menu_box{
	position:absolute;
	margin-left:-350px;
	width:1600px;
	height:300px;
	background:white;
	padding:10px 0;
	display:none;
	z-index:1;
}

.menu_box>li{
	width:100px;
	height:150px;
	display:inline;
}

.menu_box>li>a{
	display:inline-block;
	transition:all 1s;
}

.menu_box>li>a>img{
	width:200px;
	height:200px;
	padding:20px;
}

.menu_box>li:hover>a{
	opacity:70%;
	font-size:18px;
	transition:all 1s;
}

.menu_box>li>a>h4{
	color:black;
}

.icon>a>img{
	margin-top:30px;
	margin-left:50px;
}

.slide_1{
	width:100%;
	height:100%;
	background:black;
}

.slide{
	width:1600px;
	height:600px;
	margin:0 auto;
	overflow:hidden;
}

.imgs{
	position:relative;
	width:1600px;
	height:600px;
}

.imgs>img{
	width:100%;
	position:absolute;
	transition:1s;
}

.text1>.new{
	font-family:"나눔스퀘어_ac";
	text-align:center;
	font-size:35px;
	margin-top:150px;
}

.collection{
	width:1600px;
	height:650px;
	margin:0 auto;
	margin-top:100px;
}

.collection2>img{
	opacity:60%;
	width:370px;
	height:650px;
}

.collection2>img:hover{
	opacity:100%;
	cursor:pointer;
}

.us_title{
	text-align:center;
	margin-top:150px;
}

.us_title>a>img{
	width:300px;
	height:220px;
}

.us{
	width:1400px;
	height:300px;
	margin:0 auto;
	margin-top:-40px;
	text-align:center;
}

.us>a>img{
	width:280px;
	height:300px;
	margin-right:60px;
	cursor:pointer;
}

#modal{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,0.6);
	z-index:1;
	display:none;
}

#modal .body{
	padding:20px;
	position:fixed;
	left:50%;
	transform:translate(-50%,-50%);
}

#modal.active{
	display:block;
	opacity:1;
}

#modal.active .body{
	top:50%;
	opacity:1;
}

#modal .body img{
	width:700px;
	height:700px;
	display:block;
	margin-bottom:20px;
}

#modal .body .button{
	margin-top:20px;
	text-align:center;
}

#modal .body .button button{
	padding:6px 12px;
	border:none;
	border-radius:6px;
	color:white;
	background-color:black;
}

#modal_2{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,0.6);
	z-index:1;
	display:none;
}

#modal_2 .body_2{
	padding:20px;
	position:fixed;
	left:50%;
	transform:translate(-50%,-50%);
}

#modal_2.active{
	display:block;
	opacity:1;
}

#modal_2.active .body_2{
	top:50%;
	opacity:1;
}

#modal_2 .body_2 img{
	width:700px;
	height:700px;
	display:block;
	margin-bottom:20px;
}

#modal_2 .body_2 .button_2{
	margin-top:20px;
	text-align:center;
}

#modal_2 .body_2 .button_2 button{
	padding:6px 12px;
	border:none;
	border-radius:6px;
	color:white;
	background-color:black;
}

#modal_3{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,0.6);
	z-index:1;
	display:none;
}

#modal_3 .body_3{
	padding:20px;
	position:fixed;
	left:50%;
	transform:translate(-50%,-50%);
}

#modal_3.active{
	display:block;
	opacity:1;
}

#modal_3.active .body_3{
	top:50%;
	opacity:1;
}

#modal_3 .body_3 img{
	width:700px;
	height:700px;
	display:block;
	margin-bottom:20px;
}

#modal_3 .body_3 .button_3{
	margin-top:20px;
	text-align:center;
}

#modal_3 .body_3 .button_3 button{
	padding:6px 12px;
	border:none;
	border-radius:6px;
	color:white;
	background-color:black;
}

#modal_4{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,0.6);
	z-index:1;
	display:none;
}

#modal_4 .body_4{
	padding:20px;
	position:fixed;
	left:50%;
	transform:translate(-50%,-50%);
}

#modal_4.active{
	display:block;
	opacity:1;
}

#modal_4.active .body_4{
	top:50%;
	opacity:1;
}

#modal_4 .body_4 img{
	width:700px;
	height:700px;
	display:block;
	margin-bottom:20px;
}

#modal_4 .body_4 .button_4{
	margin-top:20px;
	text-align:center;
}

#modal_4 .body_4 .button_4 button{
	padding:6px 12px;
	border:none;
	border-radius:6px;
	color:white;
	background-color:black;
}

.button button{
	cursor:pointer;
}

.button_2 button{
	cursor:pointer;
}

.button_3 button{
	cursor:pointer;
}

.button_4 button{
	cursor:pointer;
}

#content{
	color:black;
	cursor:pointer;
	margin-top:100px;
}

#content .content-wrap{
	width:100%; 
	background-color:black; 
	color:white;
}

#content .content-wrap>ul{
	max-width:1700px; 
	margin:0 auto; 
	overflow:hidden;
}

#content .content-wrap > ul > li{
	float:left; 
	text-align:center; 
	height:380px; 
	text-shadow:1px 1px 1px #292929;
}

#content .content-wrap > ul > li.ct-1{
	width:25%; 
	background:url(../img/world_1_1.jpg) center no-repeat; 
	background-size:100%;
}

#content .content-wrap > ul > li.ct-2{
	width:50%; 
	background:url(../img/world_2_1.jpg) center no-repeat; 
	background-size:100%;
}

#content .content-wrap > ul > li.ct-3{
	width:25%; 
	background: url(../img/world_3_1.jpeg) center no-repeat; 
	background-size:100%;
}

#content .content-wrap > ul > li.ct-4{
	width:60%; 
	background: url(../img/world_4_1.jpg) center no-repeat; 
	background-size:100%;
}

#content .content-wrap > ul > li.ct-5{
	width:40%; 
	background: url(../img/world_5_1.jpg) center no-repeat; 
	background-size:100%;
}

#content .content-wrap > ul > li.ct-1:hover,#content .content-wrap > ul > li.ct-1:focus{
	background:url(../img/world_1_2.jpeg) center no-repeat; 
	background-size:100%; 
	transition:1s ease-in-out;
}

#content .content-wrap > ul > li.ct-2:hover,#content .content-wrap > ul > li.ct-2:focus{
	background:url(../img/world_2_2.jpg) center no-repeat; 
	background-size:100%; 
	transition:1s ease-in-out;
}

#content .content-wrap > ul > li.ct-3:hover,#content .content-wrap > ul > li.ct-3:focus{
	background:url(../img/world_3_2.jpg) center no-repeat; 
	background-size:100%; 
	transition:1s ease-in-out;
}

#content .content-wrap > ul > li.ct-4:hover,#content .content-wrap > ul > li.ct-4:focus{
	background:url(../img/world_4_2.jpg) center no-repeat; 
	background-size:100%; 
	transition:1s ease-in-out;
}

#content .content-wrap > ul > li.ct-5:hover,#content .content-wrap > ul > li.ct-5:focus{
	background:url(../img/world_5_2.jpg) center no-repeat; 
	background-size:100%; 
	transition:1s ease-in-out;
}

#content .content-wrap h3.card-title{
	font-size:20px; 
	margin-bottom:15px; 
	padding-top:285px;
}

#content .content-wrap p.card-text{
	font-size:15px; 
	margin-bottom:15px;
}

#content .content-wrap p.card-btn{
	display:none; 
	width:100px;
	margin:0 auto;
	padding:2px;
}

#content .content-wrap > ul > li:hover h3.card-title,#content .content-wrap > ul > li:focus h3.card-title{
	padding-top:250px; 
	transition:0.7s;
}

#content .content-wrap > ul > li:hover p.card-btn,#content .content-wrap > ul > li:focus p.card-btn{
	display:block; 
	border:1px solid #fff;
}

#bg-story{
	margin:150px 0; 
	font-size:20px; 
	text-shadow:1px 1px 1px #292929;
	background:url(../img/seiko_back.png) center; 
	background-size:cover;
}

#bg-story .text-wrap{
	max-width:1200px;
	min-height:540px; 
	margin:0 auto; 
	text-align:center; 
	letter-spacing:2px;
	color:white;
}

#bg-story p.info{
	padding-top:170px;
	padding-bottom:5px;
	font-size:16px;
	letter-spacing:3px;
}

#bg-story p.title{
	margin-bottom:30px;
}

#bg-story p.title:after{
	content:""; 
	display:block; 
	width:90px; 
	height:2px; 
	background-color:white;
	margin:0 auto;
	margin-top:30px;
}

#bg-story p.text{
	margin-bottom:35px; 
	font-size:18px;
}

#bg-story p.btn{
	width:100px; 
	border:2px solid #fff;
	margin:0 auto; 
	padding:4px; 
	font-size:14px;
	cursor:pointer;
}

#bg-story p.btn:hover{
	background-color:white; 
	color:#1a1a1a; 
	transition:0.7s; 
	text-shadow:none; 
	font-weight:bold;
}